.footer {
    width: 100%;
    height: 200px;
    background: #1D2228;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 50px;
  }
  
  .socialMedia svg {
    color: #E1E2E2;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: #E1E2E2;
  }

  .chatbot-page ~ footer,
  .chatbot-page ~ .footer {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }